{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link type="text/css" href="{% static 'style.css' %}" rel=stylesheet">
    <title>Demo Website</title>
  </head>
  <header class="container-fluid p-5 bg-dark text-white">
      <h1>NYCU DCS Lab Intent-Controllable Citation Text Generation Demo</h1>
  </header>
  <body>
    <div class="mx-3 my-3">
      <textarea class="form-control" name="citing_context" form="subform" rows=10 placeholder="Citing Context"></textarea>
    </div>
    <div class="mx-3 my-3">
      <textarea class="form-control" name="cited_context" form="subform" rows=10 placeholder="Cited Context"></textarea>
    </div>

    <form action="generate/" id="subform" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary mx-3 my-3">Generate Citation Text</button>
    </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
  <footer class="container-fluid p-5 bg-dark text-white text-center">
    &#169; <a href="https://dcslab.web.nctu.edu.tw/" style="text-decoration:none;">NYCU Distributed Computing System Lab</a> 
     - ALL RIGHTS RESERVED.
  </footer>
</html>