{% extends "base.html" %}
  {% block content %}
    <form action="generate/" id="subform" method="post">
        {% csrf_token %}
        <label for="model_type">Type of the pretrained model:</label>
        <div class="btn-group mx-2" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="model_type" id="bart" autocomplete="off" value="bart" checked>
          <label class="btn btn-outline-primary" for="bart">BART</label>
          <input type="radio" class="btn-check" name="model_type" id="t5" autocomplete="off" value="t5">
          <label class="btn btn-outline-primary" for="t5">T5</label>
        </div>
        
        <label class="ms-5" for="citing_input_type">Input type of the citing paper:</label>
        <div class="btn-group mx-2" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="citing_input_type" id="abstract" autocomplete="off" value="abstract" checked>
          <label class="btn btn-outline-primary" for="abstract">Abstract</label>
          <input type="radio" class="btn-check" name="citing_input_type" id="title" autocomplete="off" value="title">
          <label class="btn btn-outline-primary" for="title">Title</label>
        </div>

        <div class="form-group">
          <label class="mt-4 mb-2" for="citing_context">Enter a citing context:</label>
          <textarea class="form-control" id="citing_context" name="citing_context" form="subform" rows="8" placeholder="Please enter a citing context"></textarea>
        </div>
        <div class="form-group">
          <label class="mt-4 mb-2" for="cited_context">Enter the abstract cited paper:</label>
          <textarea class="form-control" id="cited_context" name="cited_context" form="subform" rows="8" placeholder="Please enter the abstract of the cited paper"></textarea>
        </div>
        <button type="submit" class="btn btn-primary my-3" id="generate-btn">Generate Citation Text</button>
      </form>
  {% endblock %}
  <script>
      $("#generate-btn").click(function() {
        $("#main-container").append(
          '<p>Hello</p>'
        );
      });
  </script>
  {% block footer %}
    <footer class="container-fluid p-5 bg-dark text-white text-center">
    &#169; <a href="https://dcslab.web.nctu.edu.tw/" style="text-decoration:none;">NYCU Distributed Computing System Lab</a> 
     - ALL RIGHTS RESERVED.
    </footer>
  {% endblock %}